@inherits LayoutComponentBase

<div class="d-flex flex-column position-relative h-100">
    <div class="border-bottom border-secondary">
        <Navbar/>
    </div>

    <main>
        <article class="position-relative container-fluid p-4 shadow bg-polkadot pk-color-primary h-100 overflow-hidden">
            <div class="d-flex flex-column p-4 bg-blur border border-1 border-secondary rounded-3 h-100">
                @* this is here to stop the elements without parents from stretching out *@
                <div>
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>

<Modal IsServiceModal="true"/>
<Preload/>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight"/>