<button id="themeToggleBtn"
        class="btn btn-outline-dark"
        @onclick="@ToggleTheme"
        aria-label="Toggle theme">
    <span id="themeIcon" class="bi @IconClass"></span>
</button>

@code {

    [Inject]
    private IThemeService ThemeService { get; set; } = null!;

    private string Theme { get; set; } = string.Empty;

    private string IconClass => Theme == "light" ? "bi-moon-stars-fill" : "bi-sun-fill";

    protected override async Task OnInitializedAsync()
    {
        Theme = await ThemeService.GetThemeAsync();

        ThemeService.OnThemeChanged += async (_, theme) =>
        {
            Theme = theme;
            await InvokeAsync(StateHasChanged);
        };

        StateHasChanged();

        await base.OnInitializedAsync();
    }

    private async Task ToggleTheme()
    {
        await ThemeService.ToggleThemeAsync();
        StateHasChanged();
    }

}