/*noinspection CssUnknownTarget*/
@import url('/lib/open-iconic/font/css/open-iconic-bootstrap.min.css');


/*fix bootstrap text alignment issues with the toast*/
.blazored-toast-progressbar {
    text-align: start !important;
}

/*remove bootstrap's annoying button outline and wrap*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: none !important;
}

/* for the autofocus component*/
h1:focus {
    outline: none;
}

/* add color transitions */
* {
    transition: border-color 75ms ease-out,
    color 20ms ease-out !important;
}

/* fix table header sort indicator opacity */
.sort-indicator {
    opacity: 1 !important;
    transform: scaleY(-1) !important;
    background-image: none !important;
}

/* fix table header sort indicator color */
[data-bs-theme=dark] .sort-indicator {
    filter: invert(1);
}

/* fix the filter button on dark mode */
[data-bs-theme=dark] .col-options-button {
    filter: invert(1);
}

/* fix the filter button on dark mode */
[data-bs-theme=dark] .col-title-text {
    color: #fff !important;
}

/* fix something */
.col-title-text {
    color: #000 !important;
}

/* fix table header sort indicator */
#themeToggleBtn.btn:hover {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
}

/* fix table header sort indicator */
#themeToggleBtn.btn:focus-visible {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
    box-shadow: none !important;
}

/* fix table header sort indicator */
.col-options {
    padding: 0.2rem !important;
}

/* fix table header sort indicator */
.pagination {
    margin-bottom: 0 !important;
}

/* fix blazored toast on mobile */
.position-topcenter {
    top: 2rem !important;
    left: 50% !important;
    transform: translate(-50%, 0%) !important;
}


/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--bs-info);
    border-radius: 2px;
}

.rounded::-webkit-scrollbar-thumb,
.rounded-1::-webkit-scrollbar-thumb,
.rounded-2::-webkit-scrollbar-thumb,
.rounded-3::-webkit-scrollbar-thumb,
.rounded-4::-webkit-scrollbar-thumb,
.rounded-5::-webkit-scrollbar-thumb {
    background: linear-gradient(
            90deg,
            rgba(13, 202, 240, 0) 0%,
            rgba(13, 202, 240, 1) 5%,
            rgba(13, 202, 240, 1) 95%,
            rgba(13, 202, 240, 0) 100%
    );
}

/* fix text-bg-dark override of validation messages. */
[data-bs-theme=dark] .text-bg-white {
    color: #fff !important;
}

[data-bs-theme=ligth] {
    color: #000 !important;
}


/* style disconnect ui */
#components-reconnect-modal {
    background-color: rgba(0, 0, 0, 0.5) !important;
    -webkit-backdrop-filter: blur(1rem) !important;
    backdrop-filter: blur(1rem) !important;;
    transform: translate3d(0, 0, 0) !important;
}

/*for disabled links*/
a[disabled] {
    pointer-events: none;
    cursor: default;
}
