@inject NavigationManager NavigationManager


<AuthorizeView>
    <ChildContent Context="_">
        <nav class="navbar navbar-light navbar-expand-md bg-body-tertiary text-geo p-3">
            <div class="container-fluid text-start">
                <a href="/" class="navbar-brand text-info text-decoration-underline fw-bold">
                    ანგარიში
                </a>

                @* TODO implement log reading from the website. *@
                @* <AuthorizeView Roles="Admin"> *@
                @*     <a href="/logs" class="navbar-brand text-info text-decoration-underline fw-bold"> *@
                @*         ლოგები *@
                @*     </a> *@
                @* </AuthorizeView> *@

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item dropdown">
                            <NavLink Match="NavLinkMatch.Prefix" class="nav-link dropdown-toggle" href="/session" role="button" data-bs-toggle="dropdown">
                                სესიები
                            </NavLink>
                            <ul class="dropdown-menu">
                                <li>
                                    <NavLink href="/session/create_government" class="dropdown-item">
                                        პროგრამულის დამატება
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink href="/session/create_private" class="dropdown-item">
                                        კერძოს დამატება
                                    </NavLink>
                                </li>

                                <hr class="m-0 p-0"/>

                                <li>
                                    <NavLink href="/session/all" class="dropdown-item">
                                        თარიღით
                                    </NavLink>
                                </li>
                                <li>
                                    <NavLink href="/session/table" class="dropdown-item">
                                        ბავშვებით
                                    </NavLink>
                                </li>
                            </ul>
                        </li>

                        <AuthorizeView Roles="Supervisor, Admin">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                    ბავშვები
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <NavLink href="/child/create" class="dropdown-item">
                                            დამატება
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink href="/child/all" class="dropdown-item">
                                            სია
                                        </NavLink>
                                    </li>
                                </ul>
                            </li>
                        </AuthorizeView>

                        <AuthorizeView Roles="Admin">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                    მომხმარებლები
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <NavLink href="/user/create" class="dropdown-item">
                                            დამატება
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink href="/user/all" class="dropdown-item">
                                            სია
                                        </NavLink>
                                    </li>
                                </ul>
                            </li>
                        </AuthorizeView>
                    </ul>

                    <div class="d-flex align-items-stretch">
                        <ThemeToggleComponent/>

                        <a href="/api/logout" class="btn btn-sm btn-outline-danger fw-bolder">
                            გამოსვლა
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </ChildContent>
</AuthorizeView>