<button id="themeToggleBtn"
        class="btn @ButtonClass"
        @onclick="@ToggleTheme"
        aria-label="Toggle theme">
    <span id="themeIcon" class="bi @IconClass"></span>
</button>

@code
{
    private string ButtonClass => IsLight ? "btn-outline-dark" : "btn-outline-light";
    private string IconClass => IsLight ? "bi-moon-stars-fill" : "bi-sun-fill";

    private async Task ToggleTheme()
    {
        await ThemeService.ToggleThemeAsync();
        await InvokeAsync(StateHasChanged);
    }
}