@page "/"
@inject CookieAuthenticationStateProvider Auth

<PageTitle>Index</PageTitle>

<h1>Hello, world 1!</h1>

<div class="hero mb-3">
    <p>Welcome to the all new app!</p>
    <p>fucking instant man hi hi hi </p>
</div>

<button class="btn btn-outline-primary" @onclick="Login">
    Login using magic hello
</button>

<p class="my-3">
    @GetNum()
</p>

@code
{
    public async Task Login()
    {
        await Auth.LoginAsync();
    }

    public int GetNum()
    {
        return 20;
    }
}
